<md-dialog>
    <form ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Atualizar Modelo</h2>
            </div>
        </md-toolbar>
 
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Sigla</label>
                    <input ng-model="updateCtrl.sigla">
                </md-input-container>
 
                <md-input-container class="md-block">
                    <label>Nome</label>
                    <input ng-model="updateCtrl.nome">
                </md-input-container>
 
                <md-input-container class="md-block">
                    <label>Descrição</label>
                    <input ng-model="updateCtrl.descricao">
                </md-input-container>
 
            </div>
        </md-dialog-content>
 
        <md-dialog-actions layout="row">
            <md-button ng-click="updateCtrl.update()" class="md-primary">Atualizar</md-button>
            <md-button ng-click="updateCtrl.cancel()">Cancelar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>