<md-dialog flex="60">
    <form ng-cloak>
         
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Visualizar Modelo</h2>
            </div>
        </md-toolbar>
 
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="row">
                   <h3>Em desenvolvimento...</h3>
                </div>

            </div>
        </md-dialog-content>
 
        <md-dialog-actions layout="row">     
            <md-button ng-click="">Exportar</md-button>
            <md-button ng-click="viewCtrl.cancel()">Sair</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>