<md-dialog>
    <form ng-cloak>
         
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Criar Nível de Maturidade</h2>
            </div>
        </md-toolbar>
 
        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container class="md-block">
                    <label>Sigla</label>
                    <input ng-model="createCtrl.sigla">
                </md-input-container>
 
                <md-input-container class="md-block">
                    <label>Nome</label>
                    <input ng-model="createCtrl.nome">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Descrição</label>
                    <input ng-model="createCtrl.descricao">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Modelo</label>
                    <div ng-controller="ModeloController as modeloCtrl">
                        <md-select  ng-init = "modeloCtrl.read()" ng-model="createCtrl.modelo" placeholder="Modelo">
                            <div ng-repeat="modelo in modeloCtrl.modelos">
                                <md-option ng-value="modelo.id_modelo" >{{modelo.sigla}} - {{modelo.nome}}</md-option>
                            </div>    
                        </md-select> 
                    </div>
                </md-input-container>
 
            </div>
        </md-dialog-content>
 
        <md-dialog-actions layout="row">     
            <md-button ng-click="createCtrl.create()" class="md-primary">Salvar</md-button>
            <md-button ng-click="createCtrl.cancel()">Cancelar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>