<html>    
    <div ng-controller = "MetaGenericaController as metaGenericaCtrl">
        <div id="top" layout="row" >

            <div flex="20" layout = "column">
                <div class="md-toolbar-tools">
                    <h3 class="md-headline">Metas Genéricas</h3>
                </div>
            </div>

            <div flex="70" layout = "column" >
                <md-input-container class="md-block m-b-0px">
                    <form ng-submit="metaGenericaCtrl.search(metaGenericaCtrl.searchKeywords)">
                        <label>Pesquisar meta genérica...</label>
                        <input ng-model="metaGenericaCtrl.searchKeywords">
                    </form>
                </md-input-container>
            </div>

            <div layout = "column">
                <md-button class="md-primary md-raised" ng-click="metaGenericaCtrl.showCreateForm()">Novo</md-button>
            </div>
        </div>

        <div id="list" class="row">

            <div class="table-responsive col-md-12">

                <table ng-init = "metaGenericaCtrl.read()" class="table table-striped" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Sigla</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Modelo</th>
                            <th>Nível de Capacidade</th>
                            <th class="actions">Ações</th>
                         </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="metaGenerica in metaGenericaCtrl.metasGenericas">
                            <td width="5%">{{metaGenerica.id_meta_generica}}</td>
                            <td width="5%">{{metaGenerica.sigla}}</td>
                            <td width="25%">{{metaGenerica.nome}}</td>
                            <td width="35%">{{metaGenerica.descricao}}</td>
                            <td width="5%">{{metaGenerica.id_modelo}}</td>
                            <td width="5%">{{metaGenerica.id_nivel_capacidade}}</td>
                            <td width="10%"class="actions">
                                <a class="btn btn-warning btn-xs" ng-click="metaGenericaCtrl.showUpdateForm($event,metaGenerica.id_meta_generica)">Editar</a>
                                <a class="btn btn-danger btn-xs" ng-click="metaGenericaCtrl.confirmDelete($event,metaGenerica.id_meta_generica)">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                 </table>

             </div>
        </div>
    </div>
</html>